@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 3vw 7vw;
}

.dragon-container {
  display: flex;
  gap: 25px;
}

.dragon-container-img {
  object-fit: cover;
  width: 28%;
  box-shadow: 1px 1px 5px black;
  border-radius: 15px;
}

.dragon-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dragon-info-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.dragon-info-span {
  display: flex;
  gap: 12px;
  align-items: center;
}

.dragon-info-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #212529;
}

.dragon-info-button {
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #007bff;
  width: 100%;
}

.dragon-cancel-reserve {
  background-color: #f5f5f5;
  color: #333;
  border: 1px solid #333;
}

.reserved {
  background-color: #4169e1;
  padding: 5px;
  color: #f5f5f5;
  border: none;
  border-radius: 0.5rem;
}
